/* BASICS */

.CodeMirror {
  /* Set height, width, borders, and global font properties here */
  font-family: monospace;
  height: 300px;
}
.CodeMirror-scroll {
  /* Set scrolling behaviour here */
  overflow: auto;
}

/* PADDING */

.CodeMirror-lines {
  padding: 4px 0; /* Vertical padding around content */
}
.CodeMirror pre {
  padding: 0 4px; /* Horizontal padding of content */
}

.CodeMirror-scrollbar-filler, .CodeMirror-gutter-filler {
  background-color: white; /* The little square between H and V scrollbars */
}

/* GUTTER */

.CodeMirror-gutters {
  border-right: 1px solid #ddd;
  background-color: #f7f7f7;
  white-space: nowrap;
}
.CodeMirror-linenumbers {}
.CodeMirror-linenumber {
  padding: 0 3px 0 5px;
  min-width: 20px;
  text-align: right;
  color: #999;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}

.CodeMirror-guttermarker { color: black; }
.CodeMirror-guttermarker-subtle { color: #999; }

/* CURSOR */

.CodeMirror div.CodeMirror-cursor {
  border-left: 1px solid black;
}
/* Shown when moving in bi-directional text */
.CodeMirror div.CodeMirror-secondarycursor {
  border-left: 1px solid silver;
}
.CodeMirror.cm-keymap-fat-cursor div.CodeMirror-cursor {
  width: auto;
  border: 0;
  background: #7e7;
}
.cm-animate-fat-cursor {
  width: auto;
  border: 0;
  -webkit-animation: blink 1.06s steps(1) infinite;
  -moz-animation: blink 1.06s steps(1) infinite;
  animation: blink 1.06s steps(1) infinite;
}
@-moz-keyframes blink {
  0% { background: #7e7; }
  50% { background: none; }
  100% { background: #7e7; }
}
@-webkit-keyframes blink {
  0% { background: #7e7; }
  50% { background: none; }
  100% { background: #7e7; }
}
@keyframes blink {
  0% { background: #7e7; }
  50% { background: none; }
  100% { background: #7e7; }
}

/* Can style cursor different in overwrite (non-insert) mode */
div.CodeMirror-overwrite div.CodeMirror-cursor {}

.cm-tab { display: inline-block; }

.CodeMirror-ruler {
  border-left: 1px solid #ccc;
  position: absolute;
}

/* DEFAULT THEME */

.cm-s-default .cm-keyword {color: #708;}
.cm-s-default .cm-atom {color: #219;}
.cm-s-default .cm-number {color: #164;}
.cm-s-default .cm-def {color: #00f;}
.cm-s-default .cm-variable,
.cm-s-default .cm-punctuation,
.cm-s-default .cm-property,
.cm-s-default .cm-operator {}
.cm-s-default .cm-variable-2 {color: #05a;}
.cm-s-default .cm-variable-3 {color: #085;}
.cm-s-default .cm-comment {color: #a50;}
.cm-s-default .cm-string {color: #a11;}
.cm-s-default .cm-string-2 {color: #f50;}
.cm-s-default .cm-meta {color: #555;}
.cm-s-default .cm-qualifier {color: #555;}
.cm-s-default .cm-builtin {color: #30a;}
.cm-s-default .cm-bracket {color: #997;}
.cm-s-default .cm-tag {color: #170;}
.cm-s-default .cm-attribute {color: #00c;}
.cm-s-default .cm-header {color: blue;}
.cm-s-default .cm-quote {color: #090;}
.cm-s-default .cm-hr {color: #999;}
.cm-s-default .cm-link {color: #00c;}

.cm-negative {color: #d44;}
.cm-positive {color: #292;}
.cm-header, .cm-strong {font-weight: bold;}
.cm-em {font-style: italic;}
.cm-link {text-decoration: underline;}

.cm-s-default .cm-error {color: #f00;}
.cm-invalidchar {color: #f00;}

/* Default styles for common addons */

div.CodeMirror span.CodeMirror-matchingbracket {color: #0f0;}
div.CodeMirror span.CodeMirror-nonmatchingbracket {color: #f22;}
.CodeMirror-matchingtag { background: rgba(255, 150, 0, .3); }
.CodeMirror-activeline-background {background: #e8f2ff;}

/* STOP */

/* The rest of this file contains styles related to the mechanics of
   the editor. You probably shouldn't touch them. */

.CodeMirror {
  line-height: 1;
  position: relative;
  overflow: hidden;
  background: white;
  color: black;
}

.CodeMirror-scroll {
  /* 30px is the magic margin used to hide the element's real scrollbars */
  /* See overflow: hidden in .CodeMirror */
  margin-bottom: -30px; margin-right: -30px;
  padding-bottom: 30px;
  height: 100%;
  outline: none; /* Prevent dragging from highlighting the element */
  position: relative;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}
.CodeMirror-sizer {
  position: relative;
  border-right: 30px solid transparent;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}

/* The fake, visible scrollbars. Used to force redraw during scrolling
   before actuall scrolling happens, thus preventing shaking and
   flickering artifacts. */
.CodeMirror-vscrollbar, .CodeMirror-hscrollbar, .CodeMirror-scrollbar-filler, .CodeMirror-gutter-filler {
  position: absolute;
  z-index: 6;
  display: none;
}
.CodeMirror-vscrollbar {
  right: 0; top: 0;
  overflow-x: hidden;
  overflow-y: scroll;
}
.CodeMirror-hscrollbar {
  bottom: 0; left: 0;
  overflow-y: hidden;
  overflow-x: scroll;
}
.CodeMirror-scrollbar-filler {
  right: 0; bottom: 0;
}
.CodeMirror-gutter-filler {
  left: 0; bottom: 0;
}

.CodeMirror-gutters {
  position: absolute; left: 0; top: 0;
  padding-bottom: 30px;
  z-index: 3;
}
.CodeMirror-gutter {
  white-space: normal;
  height: 100%;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  padding-bottom: 30px;
  margin-bottom: -32px;
  display: inline-block;
  /* Hack to make IE7 behave */
  *zoom:1;
  *display:inline;
}
.CodeMirror-gutter-elt {
  position: absolute;
  cursor: default;
  z-index: 4;
}

.CodeMirror-lines {
  cursor: text;
}
.CodeMirror pre {
  /* Reset some styles that the rest of the page might have set */
  -moz-border-radius: 0; -webkit-border-radius: 0; border-radius: 0;
  border-width: 0;
  background: transparent;
  font-family: inherit;
  font-size: inherit;
  margin: 0;
  white-space: pre;
  word-wrap: normal;
  line-height: inherit;
  color: inherit;
  z-index: 2;
  position: relative;
  overflow: visible;
}
.CodeMirror-wrap pre {
  word-wrap: break-word;
  white-space: pre-wrap;
  word-break: normal;
}

.CodeMirror-linebackground {
  position: absolute;
  left: 0; right: 0; top: 0; bottom: 0;
  z-index: 0;
}

.CodeMirror-linewidget {
  position: relative;
  z-index: 2;
  overflow: auto;
}

.CodeMirror-widget {}

.CodeMirror-wrap .CodeMirror-scroll {
  overflow-x: hidden;
}

.CodeMirror-measure {
  position: absolute;
  width: 100%;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}
.CodeMirror-measure pre { position: static; }

.CodeMirror div.CodeMirror-cursor {
  position: absolute;
  border-right: none;
  width: 0;
}

div.CodeMirror-cursors {
  visibility: hidden;
  position: relative;
  z-index: 1;
}
.CodeMirror-focused div.CodeMirror-cursors {
  visibility: visible;
}

.CodeMirror-selected { background: #d9d9d9; }
.CodeMirror-focused .CodeMirror-selected { background: #d7d4f0; }
.CodeMirror-crosshair { cursor: crosshair; }

.cm-searching {
  background: #ffa;
  background: rgba(255, 255, 0, .4);
}

/* IE7 hack to prevent it from returning funny offsetTops on the spans */
.CodeMirror span { *vertical-align: text-bottom; }

/* Used to force a border model for a node */
.cm-force-border { padding-right: .1px; }

@media print {
  /* Hide the cursor when printing */
  .CodeMirror div.CodeMirror-cursors {
    visibility: hidden;
  }
}

@import url(//fonts.googleapis.com/css?family=Roboto:400,100);
* {
  margin: 0;
  padding: 0; }

html, body {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  background-color: #000; }

#landing_page {
  visibility: hidden;
  font-size: 13px;
  line-height: 18px;
  position: absolute;
  top: 30;
  left: 0;
  color: #fff;
  width: 100%; }
  #landing_page a {
    color: #fff;
    text-decoration: underline; }
    #landing_page a:hover {
      color: #ddd; }
  #landing_page .helvetica {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; }
  #landing_page h1 {
    font-weight: normal;
    font-size: 18px;
    line-height: 23px;
    margin-bottom: 8px; }
  #landing_page p {
    font-size: 13px;
    line-height: 18px; }
  #landing_page .content {
    margin-left: auto;
    margin-right: auto; }
    #landing_page .content .copy_block {
      padding: 30px; }
    #landing_page .content .centered_block {
      width: 100%;
      max-width: 840px;
      margin-left: auto;
      margin-right: auto; }
    #landing_page .content .button_container {
      width: 80%;
      min-width: 240px;
      max-width: 350px;
      margin-left: auto;
      margin-right: auto;
      padding-top: 20px;
      padding-bottom: 20px; }
      #landing_page .content .button_container .chunky_button {
        font-size: 14px;
        border: 3px solid #fff;
        text-align: center;
        padding-top: 20px;
        padding-bottom: 20px;
        cursor: pointer; }
    #landing_page .content #header_block {
      position: relative;
      width: 100%;
      height: 40px;
      color: #d4d4d4;
      background-color: #000; }
      #landing_page .content #header_block .cardboard_icon {
        background: url('./images/landingPage/cardboard_white.png') no-repeat center center;
        width: 40px;
        height: 20px;
        background-size: contain;
        position: absolute;
        left: 2px;
        top: 50%;
        margin-top: -10px; }
    #landing_page .content #experiments_page {
      background-color: #242424;
      padding-bottom: 20px; }
      #landing_page .content #experiments_page #intro_block {
        padding-top: 20px; }
        #landing_page .content #experiments_page #intro_block h1 {
          font-size: 24px;
          line-height: 30px; }
      #landing_page .content #experiments_page #animation_block {
        padding-bottom: 20px; }
        #landing_page .content #experiments_page #animation_block .animation_container {
          width: 100%;
          height: 50px; }
          #landing_page .content #experiments_page #animation_block .animation_container .animation {
            float: left;
            width: 50%;
            height: 100%;
            background: url('./images/landingPage/anim_gif_holder.jpg') no-repeat scroll center center;
            background-size: cover; }
          #landing_page .content #experiments_page #animation_block .animation_container .animated_gif_target {
            width: 100%;
            height: 100%;
            background-color: #ffa99d;
            background: url('') no-repeat scroll center center;
            background-size: cover; }
      #landing_page .content #experiments_page #launch_button_block .sys_message {
        display: none;
        font-size: 13px;
        line-height: 18px;
        text-align: center;
        padding-bottom: 0px; }
      #landing_page .content #experiments_page #launch_button_block #error_message {
        color: #C44; }
      #landing_page .content #experiments_page #launch_button_block .button_container #launch_button {
        background-color: #0092ed; }
        #landing_page .content #experiments_page #launch_button_block .button_container #launch_button:hover {
          background-color: #59bae9; }
      #landing_page .content #experiments_page #launch_button_block .button_container #launch_button.disabled {
        display: none;
        color: #333;
        background-color: #666; }
        #landing_page .content #experiments_page #launch_button_block .button_container #launch_button.disabled:hover {
          background-color: #666; }
      #landing_page .content #experiments_page #launch_button_block .button_container .loading_message {
        display: none; }
    #landing_page .content #cardboard_page #cardboard_block {
      background-color: #000;
      padding-top: 10px;
      padding-bottom: 10px; }
      #landing_page .content #cardboard_page #cardboard_block .cardboard_illustration_container .cardboard_illustration {
        margin-left: auto;
        margin-right: auto;
        width: 280px;
        height: 230px;
        background-color: #111;
        margin-top: 20px;
        background: url('./images/landingPage/cardboard.gif') no-repeat scroll center center;
        background-size: contain; }
    #landing_page .content #dev_page {
      background-color: #242424; }
      #landing_page .content #dev_page #developers_block #developer_info {
        padding-bottom: 20px; }
      #landing_page .content #dev_page #developers_block #developer_example {
        width: 100%;
        height: 180px;
        margin-bottom: 10px;
        background-color: #111; }
        #landing_page .content #dev_page #developers_block #developer_example #demo {
          margin: 0 auto;
          height: 100%;
          margin-bottom: 1em;
          position: relative;
          cursor: pointer; }
          #landing_page .content #dev_page #developers_block #developer_example #demo #example {
            height: 100%;
            width: 100%; }
      #landing_page .content #dev_page #developers_block .developer_button_block #download_code_button {
        background-color: #000; }
        #landing_page .content #dev_page #developers_block .developer_button_block #download_code_button:hover {
          background-color: #333; }
      #landing_page .content #dev_page #developers_block .developer_button_block .loading_message {
        display: none; }
      #landing_page .content #dev_page #developers_block #developer_code_preview_block {
        padding-top: 10px; }
        #landing_page .content #dev_page #developers_block #developer_code_preview_block a {
          font-size: 14px; }
        #landing_page .content #dev_page #developers_block #developer_code_preview_block #code {
          margin-top: 7px;
          background-color: #111; }
    #landing_page .content #footer_block {
      position: relative;
      width: 100%;
      height: 70px;
      color: #d4d4d4;
      background-color: #000; }
      #landing_page .content #footer_block a {
        color: #d4d4d4; }
      #landing_page .content #footer_block .ts_and_cs {
        position: absolute;
        font-size: 10px;
        left: 20px;
        margin-top: -5px;
        top: 50%; }
      #landing_page .content #footer_block .google_logo {
        position: absolute;
        right: 20px;
        margin-top: -14px;
        top: 50%;
        width: 82px;
        height: 28px;
        background-color: #444444;
        background: url('./images/landingPage/googleLogo.png') no-repeat top left; }
  #landing_page #popup_window {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    top: 0px;
    left: 0px;
    display: none; }
    #landing_page #popup_window #popup_box {
      position: absolute;
      background-color: #fff;
      width: 300px;
      height: 340px;
      margin-left: -150px;
      margin-top: -170px;
      top: 50%;
      left: 50%;
      color: #000;
      text-align: center;
      border-radius: 20px;
      box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5); }
      #landing_page #popup_window #popup_box a {
        color: #000;
        font-size: 24px;
        line-height: 32px; }
      #landing_page #popup_window #popup_box p {
        font-size: 20px;
        line-height: 26px;
        margin-bottom: 30px; }
        #landing_page #popup_window #popup_box p span {
          font-weight: bold; }
      #landing_page #popup_window #popup_box #popup_message {
        padding: 30px;
        margin-top: 32px; }
        #landing_page #popup_window #popup_box #popup_message a {
          font-size: 16px; }
      #landing_page #popup_window #popup_box #popup_close_button {
        font-size: 40px;
        width: 30px;
        height: 40px;
        position: absolute;
        top: 10px;
        right: 12px;
        text-align: center;
        cursor: pointer;
        background: url('./images/landingPage/ic_close_black_48dp.png') no-repeat center center;
        background-size: contain; }

#scroll_dummy {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: -1; }

.paging_block {
  padding-top: 20px;
  padding-bottom: 20px;
  display: none; }

#landing_page.mobile .content #dev_page #developers_block .developer_code_preview_block #code {
  font-size: 8px; }

@media screen and (orientation: landscape) {
  #landing_page.mobile .content #experiments_page #animation_block .animation_container {
    height: 250px; }
  #landing_page.mobile .content #cardboard_page #cardboard_block .cardboard_illustration_container {
    float: left; }
    #landing_page.mobile .content #cardboard_page #cardboard_block .cardboard_illustration_container .cardboard_illustration {
      height: 170px; }
  #landing_page.mobile .content #cardboard_page #cardboard_block .cardboard_info {
    height: 120px;
    padding-top: 60px; }
 }

@media screen and (orientation: portrait) {
  #landing_page.mobile #experiments_page #animation_block .animation_container {
    height: 280px; }
 }

#landing_page.desktop .content {
  width: 100%; }
  #landing_page.desktop .content p {
    font-size: 13px;
    line-height: 18px; }
  #landing_page.desktop .content #experiments_page #animation_block .animation_container {
    height: 300px; }
  #landing_page.desktop .content #cardboard_page #cardboard_block .cardboard_illustration_container {
    margin-right: 60px;
    float: left; }
    #landing_page.desktop .content #cardboard_page #cardboard_block .cardboard_illustration_container .cardboard_illustration {
      height: 250px;
      margin-left: 30px; }
  #landing_page.desktop .content #cardboard_page #cardboard_block .cardboard_info {
    height: 140px;
    padding-top: 120px;
    max-width: 800px; }
  #landing_page.desktop .content #dev_page #developers_block #developer_example {
    height: 300px; }

.CodeMirror {
  height: auto; }

.CodeMirror-scroll {
  overflow-x: auto;
  overflow-y: hidden; }

.cm-s-example.CodeMirror {
  background-color: #111;
  color: #FFFFFF; }

.cm-s-example div.CodeMirror-selected {
  background: inherit !important; }

.cm-s-example .CodeMirror-gutters {
  background: #666666;
  border-right: 0px; }

.cm-s-example .CodeMirror-guttermarker {
  color: white; }

.cm-s-example .CodeMirror-guttermarker-subtle {
  color: #DEDEDE; }

.cm-s-example .CodeMirror-linenumber {
  color: #DEDEDE; }

.cm-s-example .CodeMirror-cursor {
  border-left: 1px solid #F7F7F7 !important; }

.cm-s-example span.cm-comment {
  color: #969696; }

.cm-s-example span.cm-atom {
  color: #D3D3D3; }

.cm-s-example span.cm-number {
  color: #D3D3D3; }

.cm-s-example span.cm-property, .cm-s-example span.cm-attribute {
  color: #ACACAC; }

.cm-s-example span.cm-keyword {
  color: #B1B1B1; }

.cm-s-example span.cm-string {
  color: #C6C6C6; }

.cm-s-example span.cm-variable {
  color: #ACACAC; }

.cm-s-example span.cm-variable-2 {
  color: #DDDDDD; }

.cm-s-example span.cm-def {
  color: #B0B0B0; }

.cm-s-example span.cm-bracket {
  color: #F8F8F8; }

.cm-s-example span.cm-tag {
  color: #B1B1B1; }

.cm-s-example span.cm-link {
  color: #D3D3D3; }

.cm-s-example span.cm-error {
  background: #B1B1B1;
  color: #F7F7F7; }

.cm-s-example .CodeMirror-activeline-background {
  background: #717171 !important; }

.cm-s-example .CodeMirror-matchingbracket {
  text-decoration: underline;
  color: white !important; }

.spherical-loader {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: table;
  background-color: black;
  font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: bold;
  color: #fff;
  font-size: 25px;
  line-height: 40px;
  text-align: center;
  -webkit-user-select: none;
  /* Chrome all / Safari all */
  -moz-user-select: none;
  /* Firefox all */
  -ms-user-select: none;
  /* IE 10+ */
  /* No support for these yet, use at own risk */
  -o-user-select: none;
  user-select: none;
  pointer-events: none;
  -webkit-transition: opacity 0.35s ease-in-out;
  /* Android 2.1+, Chrome 1-25, iOS 3.2-6.1, Safari 3.2-6  */
  transition: opacity 0.35s ease-in-out;
  /* Chrome 26, Firefox 16+, iOS 7+, IE 10+, Opera, Safari 6.1+  */
  opacity: 0; }
  .spherical-loader.enabled {
    opacity: 1; }
  .spherical-loader * {
    display: block;
    margin: 0 auto; }
  .spherical-loader h1 {
    font-weight: 700;
    font-size: 1.2em; }
  .spherical-loader h2 {
    font-weight: 100;
    margin-top: 0.1em;
    font-size: 0.8em; }
  .spherical-loader .left, .spherical-loader .right {
    display: table-cell;
    vertical-align: middle;
    width: 50%;
    padding: 3%; }
    .spherical-loader .left img, .spherical-loader .right img {
      margin-top: 40px; }

.gallery-loader {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: table;
  background-color: black;
  font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: bold;
  color: #fff;
  font-size: 25px;
  line-height: 40px;
  text-align: center;
  -webkit-user-select: none;
  /* Chrome all / Safari all */
  -moz-user-select: none;
  /* Firefox all */
  -ms-user-select: none;
  /* IE 10+ */
  /* No support for these yet, use at own risk */
  -o-user-select: none;
  user-select: none;
  pointer-events: none;
  -webkit-transition: opacity 0.35s ease-in-out;
  /* Android 2.1+, Chrome 1-25, iOS 3.2-6.1, Safari 3.2-6  */
  transition: opacity 0.35s ease-in-out;
  /* Chrome 26, Firefox 16+, iOS 7+, IE 10+, Opera, Safari 6.1+  */
  opacity: 0; }
  .gallery-loader.enabled {
    opacity: 1; }
  .gallery-loader > div {
    display: table-cell;
    vertical-align: middle;
    width: 100%; }
    .gallery-loader > div h1 {
      font-weight: 700;
      font-size: 1.2em; }
    .gallery-loader > div h2 {
      font-weight: 100;
      margin-top: 0.1em;
      font-size: 0.8em; }
    .gallery-loader > div img {
      margin-top: 40px; }
